.navbar{

background:#0b0b0b;

height:78px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 40px;

border-bottom:1px solid #1d1d1d;

}

.navbar-left{

display:flex;

align-items:center;

gap:50px;

}

.logo h1{

font-size:42px;

font-weight:800;

line-height:1;

}

.logo span{

font-size:12px;

letter-spacing:2px;

color:#999;

}

.nav-links{

display:flex;

gap:32px;

list-style:none;

}

.nav-links li{

font-size:14px;

font-weight:700;

cursor:pointer;

transition:.3s;

}

.nav-links li:hover{

color:#d8c3a5;

}

.active{

color:#d8c3a5;

}

.navbar-right{

display:flex;

align-items:center;

gap:20px;

}

.social-icons{

display:flex;

gap:12px;

font-size:15px;

}

.icon{

font-size:20px;

cursor:pointer;

}

.login-btn{

background:transparent;

color:white;

border:1px solid #555;

padding:12px 26px;

cursor:pointer;

}

.signup-btn{

background:#d8c3a5;

border:none;

padding:12px 26px;

font-weight:700;

cursor:pointer;

}